DATABASE_URL="postgresql://postgres.rlmqdrptruibtlkketpo:DEIN_SUPABASE_DB_PASSWORT@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?schema=public&sslmode=require&pgbouncer=true"
AUTH_SECRET="BITTE_EIN_LANGES_RANDOM_SECRET_EINTRAGEN"
